/SensorData.class
/SensorCollection$1.class
/SensorCollection.class
/RestApiConnector.class
/Measurement.class
/MeasurementCollection$1.class
/MeasurementCollection.class
/AddressData$1.class
/AddressData.class
/RestApiPost.class
/TaskCollection.class
/TaskCollection$1.class
/MeasurementTask.class
/RestApiConnector$1.class
/Task.class
